<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Android Insomnia Regular.ttf</string>
		<string>Arcade Future.otf</string>
		<string>Arcade_Fire.ttf</string>
		<string>ARCADE_N.TTF</string>
		<string>ARCADE_R.TTF</string>
		<string>Epicenter-TwoStroke.ttf</string>
		<string>Jocoba.ttf</string>
		<string>libertylegion3d.ttf</string>
		<string>libertylegion3dlaser.ttf</string>
		<string>libertylegionchrome.ttf</string>
		<string>libertylegioncond.ttf</string>
		<string>libertylegiongrad.ttf</string>
		<string>libertylegionhalf.ttf</string>
		<string>libertylegionlaser.ttf</string>
		<string>libertylegionsemital.ttf</string>
		<string>mechanik-Bold.ttf</string>
		<string>MyGirlIsRetroDEMO.ttf</string>
		<string>newmarssemital.ttf</string>
		<string>paladinsstraight.ttf</string>
		<string>PressStart2P.ttf</string>
		<string>Reqruit-2.otf</string>
		<string>SF Atarian System Extended Bold Italic.ttf</string>
		<string>SF Square Head Italic.ttf</string>
		<string>skymarshalexpandital.ttf</string>
		<string>Star Force TTF.TTF</string>
		<string>supercommando.ttf</string>
		<string>supercommandohalf.ttf</string>
		<string>supercommandolaser.ttf</string>
		<string>Thumbs UP.ttf</string>
		<string>Tricube.ttf</string>
		<string>Ampad Brush.ttf</string>
		<string>Art Brewery.ttf</string>
		<string>Brush Strokes.ttf</string>
		<string>Brushed.ttf</string>
		<string>BTTTRIAL.ttf</string>
		<string>CaliBrush.otf</string>
		<string>Claudette aime le Chocolat.ttf</string>
		<string>DarkWaters-Regular.otf</string>
		<string>DarkWaters-Regular.ttf</string>
		<string>Dead Island.ttf</string>
		<string>edo.ttf</string>
		<string>Imagination Station.ttf</string>
		<string>LEVIBRUSH.TTF</string>
		<string>mrsmonster.ttf</string>
		<string>mrsmonster3d.ttf</string>
		<string>mrsmonsteracad.ttf</string>
		<string>Olympic Branding.ttf</string>
		<string>Polo Brush.ttf</string>
		<string>SilkRoad.ttf</string>
		<string>Sin City.ttf</string>
		<string>Stencil Brush.ttf</string>
		<string>Sticky Things.ttf</string>
		<string>Story Book.otf</string>
		<string>Texas.ttf</string>
		<string>The Best Night.ttf</string>
		<string>the Citizens.ttf</string>
		<string>True Lies.ttf</string>
		<string>WARBRUSH.ttf</string>
		<string>WolfsRain.ttf</string>
		<string>Zing Easy.ttf</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
